<h1><%= @restaurant.name %></h1>

<div class="row">
  <div class="col">Address:</div>
  <div class="col"><%= @restaurant.address %></div>
</div>
<div class="row">
  <div class="col">Category:</div>
  <div class="col"><%= @restaurant.category %></div>
</div>
<div class="row">
  <div class="col">Phone Number:</div>
  <div class="col"><%= @restaurant.phone_number %></div>
</div>
<br>
<%= link_to "+ Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<br><br>
<h2>Restaurant reviews:</h2>
<div class="row">
  <div class="col">Comment</div>
  <div class="col">Rating</div>
</div>
<% @restaurant.reviews.each do |review| %>
  <div class="row">
    <div class="col"><%= review.content %></div>
    <div class="col"><%= review.rating %></div>
  </div>
<% end %>
